<%- include("partials/header") %>

    <div id="overlay"></div>
    <style>
        body {
            overflow: hidden;
        }
    </style>

    <script>
        $(document).ready(function() {
            $questionData = JSON.parse('<%- JSON.stringify(exam.questions) %>');
            $submissions = {};
            $marked = [];
            $currentQuestionNumber = 1;
            $totalQuestions = $questionData.length;
            setQuestion(1);
            checkButton();
            setSidebar();
        });

        function getQuestion($i) {
            return $questionData[$i - 1];
        }

        function setQuestion($i) {

            $currentQuestion = getQuestion($i);
            $currentQuestionNumber = $i;

            $optionIndex = 0;
            $options = '';
            while ($currentQuestion.options[$optionIndex]) {
                $options = $options + `<div class="col-lg-6">
                    <div class="exam__answer__option" >
                        <input type="radio" name="option-group" id="option-` + $currentQuestion.options[$optionIndex]._id + `">
                        <label for="option-` + $currentQuestion.options[$optionIndex]._id + `" onclick="saveSelection('` + $currentQuestion._id + `','` + $currentQuestion.options[$optionIndex]._id + `')" >` + $currentQuestion.options[$optionIndex].title + `</label>
                    </div>
                </div>`;
                $optionIndex++;
            }

            $('#exam__question__info').html("Question " + ($i));
            $('#exam__question__title').html($currentQuestion.title);
            $('#exam__answer__options').html($options);

            if ($submissions[$currentQuestion._id]) {
                if ($('input:radio[name=option-group]').is(':checked') === false) {
                    $('#option-' + $submissions[$currentQuestion._id]).prop('checked', true);
                }
            }

            checkButton();

        }

        function saveSelection($questionId, $optionId) {
            $submissions[$questionId] = $optionId;
            updateSidebar();
            save();
        }

        function previousQuestion() {
            setQuestion($currentQuestionNumber - 1);
        }

        function nextQuestion() {
            setQuestion($currentQuestionNumber + 1);
        }

        function markQuestion() {
            $marked.push($currentQuestion._id);
            checkButton();
            updateSidebar();
        }

        function unmarkQuestion() {
            // $marked.push($currentQuestion._id);
            // arrayRemove($marked, $currentQuestion._id);
            $marked = arrayRemove($marked, $currentQuestion._id);
            checkButton();
            updateSidebar();
        }

        function checkButton() {
            $('#previousButton').removeAttr("disabled");
            $('#nextButton').removeAttr("disabled");
            if ($currentQuestionNumber <= 1) {
                $('#previousButton').attr("disabled", "disabled");
            };
            if ($currentQuestionNumber >= $totalQuestions) {
                $('#nextButton').attr("disabled", "disabled");
            };

            if (checkIfInArray($marked, $currentQuestion._id)) {
                $('#markButton').attr("onClick", "unmarkQuestion();")
                $('#markButton').html("Unmark");
            } else {
                $('#markButton').attr("onClick", "markQuestion();")
                $('#markButton').html("Mark");
            }
        }

        function setSidebar() {

            $sidebarSectionItems = '';

            for ($i = 1; $i <= $totalQuestions; $i++) {

                $sidebarSectionItems = $sidebarSectionItems + `<span onclick = "setQuestion(` + $i + `)" id= "status-` + $i + `">` + $i + `</span>`;
            }

            $('#exam-section__items').html($sidebarSectionItems);
            updateSidebar();

        }

        function updateSidebar() {
            for ($i = 1; $i <= $totalQuestions; $i++) {
                $('#status-' + $i).removeClass("status--marked");
                $('#status-' + $i).removeClass("status--answered");
                if ($marked.indexOf(getQuestion($i)._id) != -1) {
                    $('#status-' + $i).addClass("status--marked");
                } else if (getQuestion($i)._id in $submissions) {
                    $('#status-' + $i).addClass("status--answered");
                }
            }
        }

        function checkIfInArray($array, $value) {
            $flagInArray = 0;
            $array.forEach(element => {
                if (element == $value) {
                    $flagInArray = 1;
                }
            });
            if ($flagInArray == 1) {
                return true;
            } else {
                return false;
            }
        }

        function arrayRemove(arr, value) {
            return arr.filter(function(ele) {
                return ele != value;
            });
        }
    </script>

    <section class="section-exam">
        <div class="block-main">
            <div class="main__nav">
                <div class="container-fluid container-wrap">
                    <div class="row ">
                        <div class="col">
                            <div class="brand"> ExamGradr</div>
                        </div>
                        <div class="col-auto">
                            <div id="time-left" class="time-left">Time Left: <span> 00:00:00</span></div>
                        </div>
                        <div class="col-auto btn-menu__wrapper"><button id="btn-menu" class="btn-light">|||</button></div>
                    </div>
                </div>
            </div>
            <div class="main__content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <div class="exam__question__info" id="exam__question__info">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="exam__question__title" id="exam__question__title">
                            </div>
                        </div>
                    </div>
                    <div class="row" id="exam__answer__options">

                    </div>
                </div>
            </div>
            <div class="main__footer">
                <div class="container-fluid container-wrap">
                    <div class="row ">
                        <div class="col"><button class="btn-light" id="previousButton" onclick="previousQuestion()">Previous</button></div>
                        <div class="col-auto"><button class="btn-light" id="markButton" onclick="markQuestion()">Mark</button></div>
                        <div class="col-auto"><button class="btn-light" id="nextButton" onclick="nextQuestion()">Next</button></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block-sidebar">
            <div class="sidebar__info">
                <div class="container-fluid container-wrap">
                    <div class="row">
                        <div class="col">
                            <div class="exam-name">
                                <%= textTruncate(exam.name) %>
                            </div>
                        </div>
                        <div class="col-auto">
                            <form action="/exam/submit" method="POST" onsubmit="submitted()">
                                <button class="btn-pr submitButton" type="submit">Finish Exam</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidebar__body">
                <div class="container-fluid">
                    <div id="">
                        <div class="exam-section__name">Physics</div>
                        <div class="exam-section__status__wrapper">
                            <span class="exam-section__status status--answered">12 Attended</span>
                            <span class="exam-section__status status--marked">2 Marked</span>
                            <span class="exam-section__status status--unanswered">8 Unanswered</span>
                        </div>
                        <div class="exam-section__items" id="exam-section__items">

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <div id="timeExpiredModal" class="modal fade" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div id="time-expire-icon"></div>
                    <div class="modal-headline">
                        Your time has expired
                    </div>
                    <form action="/exam/submit" method="POST" onsubmit="submitted()">
                        <button class="btn-pr submitButton">Submit Answers</button></form>
                </div>
            </div>
        </div>
    </div>

    <% function textTruncate(str, length='30', ending='..') {
        if (str.length > length) {
          return str.substring(0, length - ending.length) + ending;
        } else {
          return str;
        }
      }; %>

        <script>
            function save() {
                $.ajax({
                    method: "POST",
                    url: "/exam/save",
                    data: {
                        submissions: $submissions
                    },
                    success: function(data) {
                        console.log(data);
                        if (data == 'submissionSaved') {
                            console.log("HAHAHAH");
                        }
                        console.log("Success");
                    }
                });
            }

            function submitted() {
                $('.submitButton').prop('disabled', true);
                $('.submitButton').addClass('disabled');
            }

            var duration = '<%= exam.duration_settings.duration*60 %>',
                minutes, seconds;

            var timer = setInterval(function() {
                minutes = parseInt(duration / 60, 10);
                seconds = parseInt(duration % 60, 10);

                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                $("#time-left span").html(minutes + ':' + seconds);

                if (--duration < 0) {
                    timeExpired();
                    clearInterval(timer);
                }
            }, 1000);

            function timeExpired() {
                $('#timeExpiredModal').modal('show');
            }
        </script>

        <%- include("partials/footer") %>